<div class="row">
  <div>
    <mat-icon>home</mat-icon>
    <mat-label class="breadcrumbs-acctng"> JOBS </mat-label>
  </div>
  <br />
  <div class="row mat-elevation-z3">
    <div class="matGroup">
      <mat-tab-group>
        <mat-tab label="Scheduled">
          <div class="row mat-elevation-z3">
            <table mat-table [dataSource]="dataSourceScheduled" matSort class="mat-elevation-z3">
              <!-- Is Astive Column -->
              <ng-container matColumnDef="isActive">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Active </th>
                <td mat-cell *matCellDef="let element">
                  <mat-checkbox class="example-margin" [checked]="element.isActive">
                  </mat-checkbox>
                </td>
              </ng-container>

              <!-- Job Name Column -->
              <ng-container matColumnDef="jobName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Job Name </th>
                <td mat-cell *matCellDef="let element"> {{element.jobName}} </td>
              </ng-container>

              <!-- Timing Column -->
              <ng-container matColumnDef="timing">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Timing </th>
                <td mat-cell *matCellDef="let element"> {{element.timing}} </td>
              </ng-container>

              <!-- Category Column -->
              <ng-container matColumnDef="category">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
                <td mat-cell *matCellDef="let element"> {{element.category}} </td>
              </ng-container>

              <!-- Status Column -->
              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                <td mat-cell *matCellDef="let element"> {{element.status}} </td>
              </ng-container>

              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
                <td mat-cell *matCellDef="let element">
                  <mat-icon class="action-icon" (click)="view()">remove_red_eye</mat-icon>
                  <mat-icon class="action-icon" (click)="edit()">edit</mat-icon>
                  <mat-icon class="action-icon" (click)="delete()">delete_outline</mat-icon>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumnsScheduled"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnsScheduled;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
          </div>
          <div class="row">
            <button mat-raised-button color="primary" (click)="addModal()" class="addBtn">New Schedule</button>
            <br />
          </div>
        </mat-tab>
        <mat-tab label="Enqueued">
          <div class="row mat-elevation-z3">
            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z3">
              <!-- Queue Column -->
              <ng-container matColumnDef="queue">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Queue</th>
                <td mat-cell *matCellDef="let element"> {{element.queue}} </td>
              </ng-container>

              <!-- Job Name Column -->
              <ng-container matColumnDef="jobName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Job Name </th>
                <td mat-cell *matCellDef="let element"> {{element.jobName}} </td>
              </ng-container>

              <!-- Length Column -->
              <ng-container matColumnDef="length">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Length </th>
                <td mat-cell *matCellDef="let element"> {{element.length}} </td>
              </ng-container>

              <!-- Fetched Column -->
              <ng-container matColumnDef="fetched">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Fetched </th>
                <td mat-cell *matCellDef="let element"> {{element.fetched}} </td>
              </ng-container>

              <!-- Next Job Column -->
              <ng-container matColumnDef="nextJobs">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Next Job </th>
                <td mat-cell *matCellDef="let element"> {{element.nextJobs}} </td>
              </ng-container>

              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
                <td mat-cell *matCellDef="let element">
                  <mat-icon class="action-icon" (click)="view()">remove_red_eye</mat-icon>
                  <mat-icon class="action-icon" (click)="delete()">delete_outline</mat-icon>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
          </div>
          <div class="row">
            <!-- <button mat-raised-button color="primary" (click)="addModal()" class="addBtn">New Enqueue</button> -->
            <br />
          </div>

        </mat-tab>
        <mat-tab label="Processing">
          <div class="row mat-elevation-z3">
            <table mat-table [dataSource]="dataSourceProcessed" matSort class="mat-elevation-z3">
              <!-- Exec Id Column -->
              <ng-container matColumnDef="execId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Exec ID</th>
                <td mat-cell *matCellDef="let element"> {{element.execId}} </td>
              </ng-container>

              <!-- Job Category Column -->
              <ng-container matColumnDef="jobCategory">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Job Category </th>
                <td mat-cell *matCellDef="let element"> {{element.jobCategory}} </td>
              </ng-container>

              <!-- Job Name Column -->
              <ng-container matColumnDef="jobName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Job Name </th>
                <td mat-cell *matCellDef="let element"> {{element.jobName}} </td>
              </ng-container>

              <!-- Batch Status Column -->
              <ng-container matColumnDef="batchStatus">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Batch Status </th>
                <td mat-cell *matCellDef="let element"> {{element.batchStatus}} </td>
              </ng-container>

              <!-- Exec Status Column -->
              <ng-container matColumnDef="execStatus">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Exec Status </th>
                <td mat-cell *matCellDef="let element"> {{element.execStatus}} </td>
              </ng-container>

              <!--  Instance ID Column -->
              <ng-container matColumnDef="instanceId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Instance ID </th>
                <td mat-cell *matCellDef="let element"> {{element.instanceId}} </td>
              </ng-container>

              <!-- Start Time Column -->
              <ng-container matColumnDef="startTime">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Start Time </th>
                <td mat-cell *matCellDef="let element"> {{element.startTime}} </td>
              </ng-container>

              <!--  End Time Column -->
              <ng-container matColumnDef="endTime">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> End Time </th>
                <td mat-cell *matCellDef="let element"> {{element.endTime}} </td>
              </ng-container>

              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
                <td mat-cell *matCellDef="let element">
                  <mat-icon class="action-icon" (click)="view()">remove_red_eye</mat-icon>
                  <!-- <mat-icon class="action-icon" (click)="edit()">edit</mat-icon> -->
                  <mat-icon class="action-icon" (click)="delete()">delete_outline</mat-icon>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumnsProcessed"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnsProcessed;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
          </div>
          <div class="row">
            <!-- <button mat-raised-button color="primary" (click)="addModal()" class="addBtn">New Enqueue</button> -->
            <br />
          </div>
        </mat-tab>
        <mat-tab label="Succeeded">
          <div class="row mat-elevation-z3">
            <table mat-table [dataSource]="dataSourceSucceeded" matSort class="mat-elevation-z3">
              <!-- Exec Id Column -->
              <ng-container matColumnDef="execId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Exec ID</th>
                <td mat-cell *matCellDef="let element"> {{element.execId}} </td>
              </ng-container>

              <!-- Job Category Column -->
              <ng-container matColumnDef="jobCategory">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Job Category </th>
                <td mat-cell *matCellDef="let element"> {{element.jobCategory}} </td>
              </ng-container>

              <!-- Job Name Column -->
              <ng-container matColumnDef="jobName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Job Name </th>
                <td mat-cell *matCellDef="let element"> {{element.jobName}} </td>
              </ng-container>

              <!-- Exec Status Column -->
              <ng-container matColumnDef="execStatus">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Exec Status </th>
                <td mat-cell *matCellDef="let element"> {{element.execStatus}} </td>
              </ng-container>

              <!-- Start Time Column -->
              <ng-container matColumnDef="startTime">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Start Time </th>
                <td mat-cell *matCellDef="let element"> {{element.startTime}} </td>
              </ng-container>

              <!--  End Time Column -->
              <ng-container matColumnDef="endTime">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> End Time </th>
                <td mat-cell *matCellDef="let element"> {{element.endTime}} </td>
              </ng-container>

              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
                <td mat-cell *matCellDef="let element">
                  <mat-icon class="action-icon" (click)="view()">remove_red_eye</mat-icon>
                  <!-- <mat-icon class="action-icon" (click)="edit()">edit</mat-icon> -->
                  <mat-icon class="action-icon" (click)="delete()">delete_outline</mat-icon>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumnsSucceeded"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnsSucceeded;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
          </div>
          <div class="row">
            <!-- <button mat-raised-button color="primary" (click)="addModal()" class="addBtn">New Succeeded</button> -->
            <br />
          </div>
        </mat-tab>
        <mat-tab label="Failed">
          <div class="row mat-elevation-z3">
            <table mat-table [dataSource]="dataSourceFailed" matSort class="mat-elevation-z3">
              <!-- Exec Id Column -->
              <ng-container matColumnDef="execId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Exec ID</th>
                <td mat-cell *matCellDef="let element"> {{element.execId}} </td>
              </ng-container>

              <!-- Job Category Column -->
              <ng-container matColumnDef="jobCategory">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Job Category </th>
                <td mat-cell *matCellDef="let element"> {{element.jobCategory}} </td>
              </ng-container>

              <!-- Job Name Column -->
              <ng-container matColumnDef="jobName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Job Name </th>
                <td mat-cell *matCellDef="let element"> {{element.jobName}} </td>
              </ng-container>

              <!-- Exec Status Column -->
              <ng-container matColumnDef="execStatus">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Exec Status </th>
                <td mat-cell *matCellDef="let element"> {{element.execStatus}} </td>
              </ng-container>

              <!--Error Description  Column -->
              <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Error Description </th>
                <td mat-cell *matCellDef="let element"> <a href="">{{element.description}}</a> </td>
              </ng-container>

              <!-- Start Time Column -->
              <ng-container matColumnDef="startTime">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Start Time </th>
                <td mat-cell *matCellDef="let element"> {{element.startTime}} </td>
              </ng-container>

              <!--  End Time Column -->
              <ng-container matColumnDef="endTime">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> End Time </th>
                <td mat-cell *matCellDef="let element"> {{element.endTime}} </td>
              </ng-container>

              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
                <td mat-cell *matCellDef="let element">
                  <mat-icon class="action-icon" (click)="view()">remove_red_eye</mat-icon>
                  <!-- <mat-icon class="action-icon" (click)="edit()">edit</mat-icon> -->
                  <mat-icon class="action-icon" (click)="delete()">delete_outline</mat-icon>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumnsFailed"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnsFailed;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
          </div>
          <div class="row">
            <!-- <button mat-raised-button color="primary" (click)="addModal()" class="addBtn">New Failed</button> -->
            <br />
          </div>
        </mat-tab>
        <mat-tab label="Deleted">
          <div class="row mat-elevation-z3">
              <table mat-table [dataSource]="dataSourceDeleted" matSort class="mat-elevation-z3">
                  <!-- Exec Id Column -->
                  <ng-container matColumnDef="execId">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Exec ID</th>
                    <td mat-cell *matCellDef="let element"> {{element.execId}} </td>
                  </ng-container>
    
                  <!-- Job Category Column -->
                  <ng-container matColumnDef="jobCategory">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Job Category </th>
                    <td mat-cell *matCellDef="let element"> {{element.jobCategory}} </td>
                  </ng-container>
    
                  <!-- Job Name Column -->
                  <ng-container matColumnDef="jobName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Job Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.jobName}} </td>
                  </ng-container>

                  <!--  Instance ID Column -->
                <ng-container matColumnDef="instanceId">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Instance ID </th>
                  <td mat-cell *matCellDef="let element"> {{element.instanceId}} </td>
                </ng-container>
    
                  <!-- Date Deleted Column -->
                  <ng-container matColumnDef="deletedDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Deleted </th>
                    <td mat-cell *matCellDef="let element"> {{element.deletedDate}} </td>
                  </ng-container>
    
                  <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
                    <td mat-cell *matCellDef="let element">
                      <mat-icon class="action-icon" (click)="view()">remove_red_eye</mat-icon>
                      <mat-icon class="action-icon" (click)="edit()">edit</mat-icon>
                      <!-- <mat-icon class="action-icon" (click)="delete()">delete_outline</mat-icon> -->
                    </td>
                  </ng-container>
    
                  <tr mat-header-row *matHeaderRowDef="displayedColumnsDeleted"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumnsDeleted;"></tr>
                </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
          </div>
          <div class="row">
            <!-- <button mat-raised-button color="primary" (click)="addModal()" class="addBtn">New Deleted</button> -->
            <br />
          </div>
        </mat-tab>
        <mat-tab label="Awaiting">
          <div class="row mat-elevation-z3">
            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z3">
              <!-- Queue Column -->
              <ng-container matColumnDef="queue">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Queue</th>
                <td mat-cell *matCellDef="let element"> {{element.queue}} </td>
              </ng-container>

              <!-- Job Name Column -->
              <ng-container matColumnDef="jobName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Job Name </th>
                <td mat-cell *matCellDef="let element"> {{element.jobName}} </td>
              </ng-container>

              <!-- Length Column -->
              <ng-container matColumnDef="length">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Length </th>
                <td mat-cell *matCellDef="let element"> {{element.length}} </td>
              </ng-container>

              <!-- Fetched Column -->
              <ng-container matColumnDef="fetched">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Fetched </th>
                <td mat-cell *matCellDef="let element"> {{element.fetched}} </td>
              </ng-container>

              <!-- Next Job Column -->
              <ng-container matColumnDef="nextJobs">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Next Job </th>
                <td mat-cell *matCellDef="let element"> {{element.nextJobs}} </td>
              </ng-container>

              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
                <td mat-cell *matCellDef="let element">
                  <mat-icon class="action-icon" (click)="view()">remove_red_eye</mat-icon>
                  <mat-icon class="action-icon" (click)="edit()">edit</mat-icon>
                  <mat-icon class="action-icon" (click)="delete()">delete_outline</mat-icon>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
          </div>
          <div class="row">
            <button mat-raised-button color="primary" (click)="addModal()" class="addBtn">New Awaiting</button>
            <br />
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>

  </div> 
</div>