<div class="row">
    <h2> COLLECTION MODULE > GENERAL</h2>
    <br/>
  
    <mat-form-field>
      <mat-label>Search by Criteria</mat-label>
      <mat-select>
        <mat-option>Receipt Date</mat-option>
        <mat-option>Receipt No</mat-option>
        <mat-option>Payer</mat-option>
        <mat-option>Address</mat-option>
        <mat-option>Collector</mat-option>
      </mat-select>
    </mat-form-field> &nbsp;
    <mat-form-field appearance="outline" class="search-bar">
      <mat-label>Search</mat-label>
      <mat-icon class="search-icon">search</mat-icon>
      <input matInput>
    </mat-form-field>
    <br />
    <br />
    
    <button mat-raised-button color="primary" (click)="addModal()" class="addBtn">New Collection</button>
  
    <div class="row mat-elevation-z3">
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z3">
        <!-- Form No Column -->
        <ng-container matColumnDef="formNo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Form No</th>
          <td mat-cell *matCellDef="let element"> {{element.formNo}} </td>
        </ng-container>
  
        <!-- Receipt No Column -->
        <ng-container matColumnDef="receiptNo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Receipt No </th>
          <td mat-cell *matCellDef="let element"> {{element.receiptNo}} </td>
        </ng-container>
  
        <!-- Receipt Date Column -->
        <ng-container matColumnDef="receiptDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Receipt Date </th>
          <td mat-cell *matCellDef="let element"> {{element.receiptDate}} </td>
        </ng-container>
  
        <!-- Payer Column -->
        <ng-container matColumnDef="payer">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Payer </th>
          <td mat-cell *matCellDef="let element"> {{element.payer}} </td>
        </ng-container>
  
        <!-- Address Column -->
        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Address </th>
          <td mat-cell *matCellDef="let element"> {{element.address}} </td>
        </ng-container>
  
        <!-- Total Amount Column -->
        <ng-container matColumnDef="totalAmount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Amount </th>
          <td mat-cell *matCellDef="let element"> {{element.totalAmount}} </td>
        </ng-container>
  
        <!-- Collector Column -->
        <ng-container matColumnDef="collector">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Collector </th>
          <td mat-cell *matCellDef="let element"> {{element.collector}} </td>
        </ng-container>
  
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
          <td mat-cell *matCellDef="let element">
            <mat-icon class="action-icon" (click)="view()">remove_red_eye</mat-icon>
            <mat-icon class="action-icon" (click)="edit()">edit</mat-icon>
            <mat-icon class="action-icon" (click)="delete()">delete_outline</mat-icon>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>