mat-toolbar {
  display: flex;

  .logo {
    padding-right: 10px;

    img {
      width: 50px;
      align-items: center;
      display: flex;
    }
  }

  .user-icon {
    // padding: 0 14px;
    padding: 0px 65px 0px 0px;
    mat-icon {
        transform: scale(2);
    }
  }

  .spacer {
    flex: 1 1 auto;
  }

  .expand-profile{
    position: relative;
    margin: 0px 15px;
    top: 10px;

    mat-icon{
      font-size: 15px;
    }
  }
}
