mat-sidenav, mat-sidenav-content{
    height: 100%;
    padding: 2%;
}

mat-sidenav-container{
    height: auto;
    // max-height: 100%;
}

mat-sidenav-content{
    padding: 2%;
    img {
        width: 300px;
        margin-left: 32%;
        margin-top: 10%;
    }
}
