<div id="example-form">
  <div>
    <h1 mat-dialog-title>Create new fee</h1>
  </div>

  <div mat-dialog-content>
    <mat-form-field class="example-full-width">
      <mat-label>Transaction</mat-label>
      <mat-select>
        <mat-option>Enrollment</mat-option>
        <mat-option>Choice 2</mat-option>
        <mat-option>Choice 3</mat-option>
      </mat-select>
    </mat-form-field>
    <br />
    <mat-form-field class="example-full-width">
      <mat-label>Fee</mat-label>
      <mat-select>
        <mat-option>-- Select Account -- </mat-option>
        <mat-option>Account A</mat-option>
        <mat-option>Account B</mat-option>
      </mat-select>
    </mat-form-field>
    <br />
    <mat-form-field class="example-full-width">
      <mat-label>Remarks</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
  </div>

  <br />
  <div class="btnContainer">
    <button mat-raised-button color="primary">Save</button> &nbsp;
    <button mat-raised-button matDialogClose>Cancel</button>
  </div>
</div>