table {
    width: 100%;
}

th.mat-sort-header-sorted {
    color: black;
}

button {
    float: right;
}

.addBtn {
    margin-top: 1%;
}

.action-icon {
    margin-left: 10px;
}

.action-icon:hover {
    cursor: pointer;
}